@charset "UTF-8";

#pre1 {
	padding: 0px;
	background-color: #E6E6FA;
	overflow: auto;
	white-space: pre-wrap;
	word-break: break-all;
}

#pre2 {
	padding: 10px;
	overflow: auto;
	white-space: pre-wrap;
	word-break: break-all;
}

td {
	padding: 0px;
	border-spacing: 0 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

table {
	table-layout: fixed;
}