@charset "UTF-8";

#wrapper {
	margin-left: auto;
	margin-right: auto;
}

table, tr, th, td {
	margin-left: auto;
	margin-right: auto;
}

.finput {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
}