@charset "UTF-8";

table, tr, th, td {
	text-align: center;
	align: center;
	valign: middle;
}

td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

table {
	table-layout: fixed;
}